*{
    margin: 0;
    padding: 0;
}
header{
    padding: 10px;
    display: flex;
    flex-direction: row;
    background-color: coral;
}
.navegacao{
    display: flex;
    gap: 25px;
    align-items: center;
}
.pesquisa{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    gap: 25px;
    align-items: center;
}
.itens{
    width: 95%;
    height: 300px;
    background-color: blueviolet;
    margin: 10px;
    margin-left: 35px;
    border-radius: 10px;
    padding: 0;
    position: relative;
}
.nomeDaSessao{
    padding-top: 1%;
    padding-left: 1%;
}
.cartao{
    position: absolute;
    background-color: white;
    width: 150px;
    height: 200px;
    margin: 10px;
    border-radius: 10px;
}