body{
    margin: 0
}
#header{
    padding: 10px;
    display: flex;
    flex-direction: row;
    background-color: coral;
    justify-content: space-between;
    flex-wrap: wrap;
}
#header h2{
    align-self: center;
}
#Adicionar{
    cursor: pointer;
}
.navegacao{
    display: flex;
    gap: 25px;
    align-items: center;
}
.pesquisa{
    display: flex;
    gap: 25px;
}
.itens{
    width: 92%;
    background-color: blueviolet;
    margin: 10px;
    margin-left: 60px;
    border-radius: 10px;
    padding: 0;
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.nomeDaSessao{
    margin-left: 35px;
    margin-bottom: 0;
    padding-top: 1%;
    padding-left: 1%;
}
.cartao{
    background-color: white;
    width: 150px;
    height: 200px;
    margin: 10px;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
}

.cartao img{
    width: 100px;
}


#produtos{
    border-radius: 5px;
    width: 80%;
    height: 50%;
    background-color: dimgray;
    margin-top: 5%;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

.produto{
    display: flex;
    justify-content: space-between;
    height: 25spx;
    margin: 15px;
    flex-wrap: wrap;
    border-radius: 5px;
    background-color: whitesmoke;
}


#criarProduto{
    display: none;
    flex-direction: column;
    align-self: center;
    padding: 50px;
    justify-content: center;
}
#criarProduto button{
    width: 50px;
}