*{
    margin: 0;
    padding: 0;
}
header{
    padding: 10px;
    display: flex;
    flex-direction: row;
    background-color: coral;
}
.navegacao{
    display: flex;
    gap: 25px;
}
.pesquisa{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    gap: 25px;
    align-items: center;
}
