*{
    margin: 0;
    padding: 0;
}
header{
    padding: 10px;
    display: flex;
    flex-direction: row;
    background-color: coral;
    flex-wrap: wrap;
}
.navegacao{
    display: flex;
    gap: 25px;
    align-items: center;
}
.pesquisa{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    gap: 25px;
    align-items: center;
}
.itens{
    width: 92%;
    background-color: blueviolet;
    margin: 10px;
    margin-left: 60px;
    border-radius: 10px;
    padding: 0;
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.nomeDaSessao{
    margin-left: 35px;
    margin-bottom: 0;
    padding-top: 1%;
    padding-left: 1%;
}
.cartao{
    background-color: white;
    width: 150px;
    height: 200px;
    margin: 10px;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.cartao img{
    width: 100px;
    margin-left: 5px;
}


#produtos{
    border-radius: 5px;
    width: 80%;
    height: 50%;
    background-color: dimgray;
    margin-top: 5%;
    margin-left: 10%;
    display: flex;
}